<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
      <target name="logfile" xsi:type="File" fileName="file.txt">
        <layout xsi:type="JsonLayout">
          <attribute name="level" layout="${level}" />
          <attribute name="timestamp" layout="${longdate}" />
          <attribute name="message" layout="${message}" />
          <attribute name="callsite" layout="${callsite}#${callsite-linenumber}" />
        </layout>
      </target>
    </targets>

    <rules>
        <logger name="*" minlevel="Debug" writeTo="logfile" />
    </rules>
</nlog>